<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="~{fragments :: head('Mapa das Universidades de SP')}"></head>
<body>
    <div class="container">
        <header th:replace="~{fragments :: header('universidades')}"></header>

        <h1>Universidades</h1>
        <span th:styleappend="${param.mensagem == null ? 'diplay:none;' : ''}" th:classappend="param.mensagem != null ? 'text-danger' : ''" th:text="${param.mensagem != null ? param.mensagem : ''}">Mensagem</span>
        <span th:styleappend="${param.sucesso == null ? 'diplay:none;' : ''}" th:classappend="param.sucesso != null ? 'text-success' : ''" th:text="${param.sucesso != null ? param.sucesso : ''}">Mensagem</span>
        <a class="btn btn-primary" th:styleappend="${usuario != null && usuario.tipo.toString().equals('ADM') ? '' : 'display: none;'}" th:href="@{/universidade/cadastro}">Cadastrar nova Universidade</a>

        <div class="universidades-container">
            <div class="universidades" th:each="universidade, universidadeStatus : *{universidades}">
                <ul>
                    <a th:href="@{/{universidadeId}(universidadeId = ${universidade.id})}">
                        <b><li class="nomeUniversidade" th:text="${universidade.nome}"></li></b>
                        <b>Site: </b><li th:text="${universidade.site}"></li>
                        <b>Tipo: </b><li th:text="${universidade.tipo}"></li>

                        <div class="enderecos" th:each="endereco, enderecoStatus : *{enderecos}">
                            <li th:if="${endereco.universidade.id} == ${universidade.id}"><b>Endereço: </b></li>
                            <li th:if="${endereco.universidade.id} == ${universidade.id}" th:text="${endereco.rua + ', ' + endereco.numero + ' - ' + endereco.bairro + ' - ' + endereco.cidade}"></li>
                        </div>
                    </a>
                </ul>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.6/dist/js/bootstrap.bundle.min.js" integrity="sha384-j1CDi7MgGQ12Z7Qab0qlWQ/Qqz24Gc6BM0thvEMVjHnfYGF0rmFCozFSxQBxwHKO" crossorigin="anonymous"></script>
</body>
</html>