<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="~{fragments :: head('Mapa das Universidades de SP - Login')}"></head>
<body>
<div class="container">
    <header th:replace="~{fragments :: header('login')}"></header>

    <h1>Login</h1>
    <span th:styleappend="${param.mensagem == null ? 'diplay:none;' : ''}" th:classappend="param.mensagem != null ? 'text-success' : ''" th:text="${param.mensagem != null ? param.mensagem : ''}">Mensagem</span>
    <span th:styleappend="${mensagem == null ? 'diplay:none;' : ''}" th:classappend="mensagem != null ? 'text-danger' : ''" th:text="${mensagem != null ? mensagem : ''}">Mensagem</span>
    <form th:object="${requisicaoLoginUsuario}" th:action="@{/login}" method="POST">
        <div class="form-group">
            <label class="form-label">Email</label>
            <input type="email" class="form-control" th:errorclass="is-invalid" th:field="*{email}" placeholder="Digite seu e-mail">
            <div class="invalid-feedback" th:errors="*{email}"></div>
        </div>
        <div class="form-group">
            <label class="form-label">Senha</label>
            <input type="password" class="form-control" th:errorclass="is-invalid" th:field="*{senha}" placeholder="Digite sua senha">
            <div class="invalid-feedback" th:errors="*{senha}"></div>
        </div>
        <button class="btn btn-primary mt-3" type="submit">Entrar</button>
    </form>
    <a class="link" th:href="@{/login/alteracao-senha}">Esqueci minha senha</a>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.6/dist/js/bootstrap.bundle.min.js" integrity="sha384-j1CDi7MgGQ12Z7Qab0qlWQ/Qqz24Gc6BM0thvEMVjHnfYGF0rmFCozFSxQBxwHKO" crossorigin="anonymous"></script>
</body>
</html>